<configuration>
	<log4net>
		<!-- Определение назначения лога (в файл) -->

		<!-- Аппендер для информационных и отладочных логов -->
		<appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
			<!-- Имя файла лога -->
			<file value="C:\\Logs\\Notary\\Logs.txt" />
			<!-- Добавление в файл, а не перезапись -->
			<appendToFile value="true" />
			<!-- Ротация по размеру файла -->
			<rollingStyle value="Size" />
			<!-- Максимум 5 файлов в ротации -->
			<maxSizeRollBackups value="1000" />
			<!-- Максимальный размер файла -->
			<maximumFileSize value="100MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="DEBUG" />
				<levelMax value="INFO" />
			</filter>
		</appender>

		<!-- Аппендер для ошибок и критических сообщений -->
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\\Logs\\Notary\\LogsError.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1000" />
			<maximumFileSize value="100MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN" />
				<levelMax value="FATAL" />
			</filter>
		</appender>

		<!-- Правила логирования -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="InfoAppender" />
			<appender-ref ref="ErrorAppender" />
		</root>
	</log4net>
</configuration>